/* Estilos Gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.container {
    display: flex;
    gap: 20px;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 200px;
}

.card i {
    font-size: 50px; /* Tamanho igual para todos os ícones */
    margin-bottom: 10px;
    color: #007BFF; /* Cor azul para os ícones */
}

.card a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}